
@import '~antd/lib/style/themes/default.less';


.body {
    //text-align: center;

    //height: 500px;
    //line-height: 500px;
    //background: #364d79;
    overflow: hidden;
    //margin-left: 100px;
    //margin-right: 100px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.divA{
    text-align: center;
    //background: #00e9ca;
    //height: 600px;
    line-height: 120px;
    font-size: 13px;
    //margin: 0 auto;// 居中
}

.divB{
    text-align: left;
    //background: #00e9ca;
    //height: 600px;
    //line-height: 60px;
    //font-size: 13px;
    //margin: 0 auto;// 居中
    //margin-left: 50px;
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 70px;
    }
    h3{
        font-size: 10px;
    }
}

.title{
    text-align: left;

    h1 {
        color: Black;
        font-size: 60px;
    }
}