
@import '~antd/lib/style/themes/default.less';


.carousel {
    text-align: center;
    height: 500px;
    line-height: 500px;
    //background: #364d79;
    background: #bfbfbf;
    overflow: hidden;
    //margin-left: 100px;
    //margin-right: 100px;
    margin: 0 auto;

    margin-bottom: 20px;

    h3 {
    color: #fff;
  }
}

.cardB {
  //background: #ECECEC;  
  padding: 30px;
  //margin-left: 200px;
  //margin-right: 200px;
  margin: 0 auto;// 居中
}


  
